# Automotive e-commerce analytics [STEP 1]

The current task is to analyze the datasets provided and extract actionable insights that can help the company optimize its sales strategy across different platforms.

## 1) Import the libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## 1.1) Define useful variables

In [2]:
cars = pd.read_csv('Raw_Data/cars.csv')
sales = pd.read_csv('Raw_Data/sales.csv')
users = pd.read_csv('Raw_Data/users.csv')
visits = pd.read_csv('Raw_Data/visits.csv')

## 2) Analyze each file

Now we are going to give a fast overview of the avaiable data, the current objective is to clean all the data based on what we expect to be

## 2.1) Cars

- `car_id`: Unique identifier for the car.
- `car_model`: Model of the car.
- `fuel_type`: Fuel type of the car.
- `release_date`: Date when the car was released.
- `price`: Base price of the car.

In [3]:
cars.shape

(12, 5)

Ok now we know that we don't have that many cars, so if we find something wrong we cannot delete any given row

In [4]:
# thanks to the small size of the data, we can easily see the data
cars

,car_id,car_model,fuel_type,release_date,price
0,2c192c40-f69f-42e5-9431-41d92558568b,Sierra,Diesel,2013-05-01,35000
1,d2e63c70-e732-4299-bb0c-ba00b875a4bd,3 Series,Diesel,2014-12-11,40000
2,00b0c76e-9f2f-41c1-8324-38fbe9c2a8aa,Model i8,Electric,2019-01-01,145000
3,4abc60d6-73cb-44df-8bde-d8f5936bbdfb,Coupe,Gasoline,2015-08-01,65000
4,5fae80e1-82d6-45d3-8512-7db7bb32d5bd,Sedan,Gasoline,2018-07-15,45000
5,4c20c5ec-0d42-46ac-ae0f-cbafeceaca32,Model i7,Electric,2015-03-01,120000
6,ab72e1ef-639f-4ad0-b9b0-28a50f3c7229,Model iX,Electric,2017-11-10,131000
7,eee54c45-64fe-462b-b9c2-e23adea76282,1 Series,Diesel,2010-10-01,30000
8,42a26053-2d52-4926-b19c-ddd4b82c3e75,Touring,Gasoline,2019-02-01,90000
9,0c048ea4-5e29-419e-a448-99f75742117c,Model M,Gasoline,2016-04-01,70000
10,c571bf78-719f-451e-8cdb-f8bc7376053e,Model iY,Electric,2014-09-01,72000
11,0a441025-806f-402e-8699-d7eb988c671f,Tourer,Gasoline,2017-11-01,60000

### 2.1.1) Data checks

we need now to ensure that the data is clean and the staements are been respected

In [5]:
# we can start by checking if there is any null values in the data
cars.isnull().sum().sum()

0

In [6]:
# now we can check the data types of the columns
cars.dtypes

car_id          object
car_model       object
fuel_type       object
release_date    object
price            int64
dtype: object

In [7]:
# convert the release_date column to datetime
cars['release_date'] = pd.to_datetime(cars['release_date'])  # we're going to re-apply this in the next notebook

In [8]:
# check that all the car_id are unique
cars['car_id'].nunique() == cars.shape[0]

True

In [9]:
# Just to be sure we can now check the number of unique values in the other columns
cars.nunique()

car_id          12
car_model       12
fuel_type        3
release_date    12
price           12
dtype: int64

Everything seems right, now we can save the cleaned data to analyze it later

In [11]:
# save the cleaned data
cars.to_csv('Cleaned_Data/cars.csv', index=False)

## 2.2) Sales

- `transaction_id`: Unique identifier for the purchase.
- `customer_id`: Identifier for the user who made the purchase.
- `car_id`: Identifier for the car that was purchased.
- `platform`: Platform on which the purchase was made.
- `purchase_date`: Date when the purchase was made.
- `purchase_price`: Final price at which the car was sold after any discounts.
- `user_review`: An optional user review (as a score) given for the platform after each purchase.

## 2.3) Users

- `customer_id`: Unique identifier for the user.
- `user_first_name`: First name of the user.
- `user_last_name`: Last name of the user.
- `gender`: Gender of the user.
- `email`: Email address of the user.

## 2.4) Visits

- `visit_id`: Unique identifier for the visit.
- `customer_id`: Identifier for the user who made the visit.
- `start_timestamp`: Timestamp when the visit started (website entry or dealership entry).
- `end_timestamp`: Timestamp when the visit ended.
- `visit_type`: Type of visit (e.g., purchasing, car configuration, testing).
- `transaction_id`: purchase identifier for purchasing visits.